 .MyBasketPageLeftContent{
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.3fr 0.3fr 0.3fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-column-gap: 20px;
}

.MyBasketPageLeftContent__btns{
    display: flex;
  }

  .MyBasketPageLeftContent-enter {
    opacity: 0;
  }
  .MyBasketPageLeftContent-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .MyBasketPageLeftContent-exit {
    opacity: 1;
  }
  .MyBasketPageLeftContent-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }

.MyBasketPageLeftContent div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}