.MyQuestionsHeader{
    color : #0A78D6;
    
}

.MyQuestions{
    margin-top: 30px;
    margin-left: 20px;
}

.MyQuestionsItem{
    margin-top: 20px;
    margin-bottom: 20px;
}

.MyQuestionsItemHeader{
    font-size: 17px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.MyQuestionsItemHeader:hover{
    cursor: pointer;
}

.MyQuestionsItemHeaderPlus{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC107;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    border: 2px solid #fff;
    color: #fff;
    margin-right: 10px;
}

.MyQuestionsItemContentNot{
    opacity: 0;
    display: none;
    margin-left: 20px;
}

.MyQuestionsItemContent{
    animation-duration: 0.5s;
    animation-name: animationvisible;
    animation-iteration-count: 1;
    animation-direction: normal;
    margin-left: 20px;
}

@keyframes animationvisible {
    from{
        opacity: 0;
        display: none;
    }
    to{
        opacity: 1;
        display: block;
    }
}
